<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dự báo thời tiết</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <h1>Dự báo thời tiết</h1>
  <form action="/predict" method="post">
    <label for="features">Nhập các giá trị đặc trưng (cách nhau bằng dấu phẩy):</label><br />
    <p>
      <strong>Danh sách đặc trưng:</strong>
    <ul>
      <li><strong>temperature</strong>: Nhiệt độ</li>
      <li><strong>humidity</strong>: Độ ẩm</li>
      <li><strong>pressure</strong>: Áp suất</li>
      <li><strong>wind</strong>: Tốc độ gió</li>
      <li><strong>clouds</strong>: Mức độ mây</li>
    </ul>
    </p>
    <input type="text" id="features" name="features" placeholder="Ví dụ: 25.5,60.2,1013.1,5.4,80.0" required
      style="width: 100%" /><br /><br />
    <button type="submit">Dự đoán</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>